.carousel-inner {
    height: auto;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;    
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }
   /*background-color: rgba(10,94,164,1);
   .navbar {
      background-color: rgba(164,28,10,0.8);      
  }
   */
    .carousel-caption {
    background-color: white; 
    color: black;   
    position: relative;
    left: 0;
    top: 0;
    min-height: 200px;
    }
    .carousel-caption p {
        padding: 0 20% 0 20%;
    }
    .carousel-indicators {        
        margin: 0;
    }
    .carousel-indicators li {
        background-color: #999;
        background-color: rgba(70, 70, 70, 0.25);
        
      }
      
      .carousel-indicators .active {
        background-color: rgba(10,94,164,1);
      }
}
/* adding navbar */       
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .navbar {
    background-color: rgba(10,94,164,0.8);      
  }
  .navbar a {
      color:white;
      font-size: 16px;      
      font-weight: 500;
  }
  /* ignore the code below */
  .navbar .imgBrand {
      max-width: 60px;
      max-height: auto; 
  }
  
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:tomato;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }
   
@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .navbar a {
        color:white;
        font-size: 12px;
        font-weight: 400;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .carousel-caption p {
        padding: 0 5% 0 5%;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .carousel-caption p {
        padding: 0 5% 0 5%;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .carousel-caption p {
        padding: 0 5% 0 5%;
    }
    
  }
   